<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>

      <!-- プルダウンテスト -->
      <%= form_with model: @book do |f| %>

     <!--# 以下の一行がプルダウンを実装するためのコード（追記部分）-->
     <!--　参考：https://qiita.com/kawakami_shotaro/items/11a677bf34136cb7686d-->
      <%= f.select :faculty, [["理工学部", "理工学部"], ["経済学部", "テスト"], ["法学部", "法学部"], ["医学部", "医学部"]], {include_blank: "選択して下さい"}, { id: "user_id", class: "user_class" } %>
      <!-- mapで配列処理して表示：メンターに教えてもらった-->
      <%= f.select :test, @books_all.map {|book| [book.title, book.id]} %>
      <!-- 参考：https://qiita.com/ohnitakahiro/items/c536fe65e37980e1087e-->
      <%= f.collection_select(:title, @books_all, :id, :title) %>
        <%= f.submit '送信'%>
      <% end %>

      <!-- もしプルダウンを作るだけならbootstrapもあり-->
      <!-- bootstrap_dropdown https://getbootstrap.com/docs/4.6/components/dropdowns/-->

      <%# flash[:complete] %>
      <%# notice %>
      <h2>User info</h2>
        <%= render 'info', user: @user %>
      <!-- タイトルもパーシャルに含めた-->
        <%= render 'books/form', book: @book, user: @user %>

    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
        <%= render 'books/index',books: @books %>
    </div>
  </div>
</div>
